@charset "utf-8";

html * {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	color: #43311F;
}

/*  スクロールについてくる設定　*/
.sticky-header {
	height: 100px;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1000;
	padding: 5px 50px 5px 50px;
	border-bottom: 1px solid #ccc;
}

.logo {
	width: 250px;
	height: 100px;
	float: left;
}

nav ul {
	list-style: none;
	padding-top: 75px;
}

nav ul li {
	float: right;
}

nav ul li a {
	color: #43311F;
	text-decoration: none;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	transition: opacity 0.3s ease;
}

nav ul li a:hover {
	opacity: 0.7;
}

#mainvisual img {
	display: block;
	width: 100%;
	clear: both;

}

#information {
	margin: 80px 400px 100px 400px;
}

#information h2 {
	font-family: "EB Garamond", serif;

	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
	margin: 20px 0;
}

#contents ul {
	list-style-type: none;
	padding-left: 0;
}

#contents ul li {
	padding: 20px 0 20px 160px;
	border-bottom: 1px dotted #fb484e;
	text-indent: -160px;
}

time {
	margin: 0 50px 0 0;
}

#category {
	width: 1260px;
	margin: auto;
}

#category h2 {
	font-family: "EB Garamond", serif;

	font-size: 35px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
	margin: 50px 0;
}

.items {
	height: 400px;
	text-align: center;
}

.items item {
	width: 400px;
	margin: 0 0 15px 15px;
	float: left;
	overflow: hidden;

}

.items item a {
	text-decoration: none;
	color: #43311F;
}

.image-link img,
.items itemcaption {
	transition: opacity 0.3s ease;
	/* 透過の変化を滑らかに */
}

.image-link:hover img,
.items itemcaption {
	opacity: 0.7;
}

footer {
	background-color: #43311F;
	color: #fff3e7;
	margin-top: 20px;
}

footer li {
	list-style-type: none;
}

.container {
	width: 820px;
	margin: auto;
	padding: 20px 0 30px 0;
	font-size: 80%;
}

.holiday {
	width: 350px;
	margin-left: 170px;
	margin-bottom: 20px;
	font-size: 120%;
}

.holiday span {
	font-size: 50%;
}

.contact {
	width: 200px;
	float: left;
	padding: 0 30px 0px 170px;
}


.contact p,
.access p {
	padding: 10px 0 5px 0;
}